<div class="c-password">
  <label for="pwd-1">Salasõna:</label>
  <input class="{{className}} pwd" type="text" id="pwd-1" placeholder="vastus">
  <!--div class="c-feedback"></div-->
  <button id="submit-1" class="submit-btn">Sisesta</button>
</div>
<div class="c-password is-hidden">
  <label for="pwd-2">Salasõna:</label>
  <input class="{{className}} pwd" type="text" id="pwd-2" placeholder="vastus">
  <button id="submit-2" class="submit-btn">Sisesta</button>
</div>
<div class="c-password is-hidden">
  <label for="pwd-3">Salasõna:</label>
  <input class="{{className}} pwd" type="text" id="pwd-3" placeholder="vastus">
  <button id="submit-3" class="submit-btn">Sisesta</button>
</div>
<div class="c-password is-hidden">
  <label for="pwd-4">Salasõna:</label>
  <input class="{{className}} pwd" type="text" id="pwd-4" placeholder="vastus">
  <button id="submit-4" class="submit-btn">Sisesta</button>
</div>
<div class="c-password is-hidden">
  <label for="pwd-5">Salasõna:</label>
  <input class="{{className}} pwd" type="text" id="pwd-5" placeholder="vastus">
  <button id="submit-5" class="submit-btn">Sisesta</button>
</div>

<!--
<p>Story</p>
<p id="story">{{story}}</p>
<p>Vihje</p>
<p id="vihje">{{clue}}</p>
-->