<!DOCTYPE html>
<html dir="ltr" lang="et">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="/media/css/master.min.css" rel="stylesheet" type="text/css"/>
  <script async defer src="/media/scripts/matrix.js" type="module"></script>
</head>
<body id="{{team_id}}">
<canvas id="c"></canvas>
{{>header}}
<main role="main">
  {{>password}}
  {{{body}}}
  <div class="c-navigation">
    <a href="/">
      <button class="c-back">Genees</button>
    </a>
    <a id="back-btn" href="/t{{team_id}}/">
      <button class="c-back">Eelmine</button>
    </a>
    <a id="front-btn" href="/t{{team_id}}/">
      <button class="c-back">Järgmine</button>
    </a>
  </div>
  <script src="/media/scripts/team_clues.js" type="module"></script>
</main>
{{>footer}}
</body>
</html>